/* Colours */
/*  Font */
/* Typography */
h1,
h3 {
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.section--title {
  font-size: 3.5rem;
}

.logo__title {
  color: #edf6f9;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.2em;
}

.hero__title {
  font-size: 3.5rem;
}

.typed-cursor {
  font-size: 3rem;
}

.hero__subtitle {
  font-size: 2rem;
  font-weight: 300;
}

.nav__link {
  color: #edf6f9;
}

/* Base Rules */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #83c5be;
  color: #edf6f9;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 1.7;
  scroll-behavior: smooth;
}

/* Layout */
.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
  position: relative;
}

.row {
  display: flex;
}

img {
  max-width: 100%;
}

.container--title {
  max-width: 400px;
  margin: 0 auto;
}

.section--title {
  position: relative;
  margin-bottom: 1em;
}

/* Navigation */
header {
  padding-top: 2em;
}

.logo__title {
  text-decoration: none;
  cursor: pointer;
}

.burger {
  position: absolute;
  right: 0;
  color: white;
  cursor: pointer;
}
.burger div {
  width: 25px;
  height: 2px;
  background: #fff;
  margin: 5px;
}

.nav {
  display: none;
}
.nav .nav__list {
  display: flex;
  text-align: center;
}
.nav .nav__item {
  list-style: none;
}
.nav .nav__item + .nav__item {
  padding-left: 2em;
}
.nav .nav__link {
  position: relative;
  text-decoration: none;
}
.nav .nav__link:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #ffddd2;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.nav .nav__link:hover::before {
  visibility: visible;
  width: 100%;
}

/* Section 1 - HERO */
#section1 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#section1 .hero__background {
  text-align: center;
}
#section1 .hero__title {
  padding: 0.2em 0 0;
  margin-top: 0.8em;
  letter-spacing: 2px;
}
#section1 .socials {
  justify-content: space-evenly;
  margin: auto;
  width: 80%;
  max-width: 350px;
  padding: 1em 0 0;
}
#section1 .socials i {
  color: #edf6f9;
  font-size: 3rem;
}
#section1 .socials i:hover {
  color: #ffddd2;
  animation: rotation 1s infinite;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
#section1 .scroll-down {
  position: absolute;
  bottom: 40px;
}
#section1 .scroll-down a {
  color: #edf6f9;
  font-weight: 300;
}
#section1 .scroll-down a i {
  animation: bounce ease 2s infinite;
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}

@media (min-width: 700px) {
  header .row {
    display: flex;
    justify-content: space-between;
  }
  header .burger {
    display: none;
  }
  header .nav {
    display: inline-block;
    position: relative;
  }
  header .nav__link {
    font-size: 1.3rem;
  }

  #section1 .hero__title {
    font-size: 6rem;
  }
  #section1 .typed-cursor {
    font-size: 5rem;
  }
  #section1 .hero__subtitle {
    font-size: 3.5rem;
  }
}
/* Section 2 - About me */
#section2 .section--title::before {
  content: "";
  position: absolute;
  height: 12px;
  width: 60%;
  background: #ffddd2;
  top: 65%;
  left: 11%;
  z-index: -1;
}
#section2 .container--about__me {
  text-align: center;
  margin: 5em auto;
}
#section2 .about__me--image {
  border-radius: 80%;
  filter: grayscale(80%);
  margin: 2em 0;
}
#section2 .about__me--text {
  margin: 2em;
  text-align: justify;
}
#section2 .about__me--text p {
  font-size: 1.25rem;
  padding-bottom: 2em;
}

@media (min-width: 700px) {
  .container--about__me {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .about__me--image {
    width: 40%;
  }

  .about__me--text {
    display: flex;
    flex-direction: column;
    max-width: 500px;
  }
}
/* Section 3 - Projects */
#section3 .projects--grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.5em;
}
#section3 .section--title::before {
  content: "";
  position: absolute;
  height: 12px;
  width: 60%;
  background: #ffddd2;
  top: 65%;
  left: 11%;
  z-index: -1;
}
#section3 .projects--cards {
  border: 1px solid #edf6f9;
  border-radius: 10px;
  text-align: center;
  padding: 0.8em;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
#section3 .projects--cards .projects--info {
  padding: 0.5em 0;
  text-align: left;
}
#section3 .projects--cards .projects--links {
  display: flex;
  justify-content: center;
}
#section3 .projects--cards a {
  border: 1px solid #edf6f9;
  border-radius: 5px;
  text-decoration: none;
  padding: 0.5em;
  margin: 0.5em;
  color: #edf6f9;
  background: linear-gradient(to right, white 50%, #afd8d4 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
}
#section3 .projects--cards a:hover {
  color: black;
  background-position: left bottom;
}

.gif__container {
  border-radius: 10px;
  margin-top: 1em;
  text-align: center;
  height: 230px;
  background-position: center;
  background-size: cover;
  color: transparent;
  width: 100%;
}

#restaurant {
  background-image: url(/images/restaurant2.gif);
}

#countdown {
  background-image: url(/images/countdown3.gif);
}

#movieapi {
  background-image: url(/images/movieapi3.gif);
}

@media (min-width: 700px) {
  #section3 .projects--grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
/* Section 4 - Contact */
#section4 .contact {
  text-align: center;
  padding-top: 2em;
  max-width: 500px;
}
#section4 .section--title::before {
  content: "";
  position: absolute;
  height: 12px;
  width: 60%;
  background: #ffddd2;
  top: 65%;
  left: 11%;
  z-index: -1;
}
#section4 p {
  font-size: 1.2rem;
}
#section4 .contact__form {
  width: 90%;
  margin: 3em auto 6em;
}
#section4 input[type=text],
#section4 input[type=email],
#section4 input[type=submit],
#section4 textarea {
  border: 1px solid #edf6f9;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  width: 100%;
  outline: none;
  padding: 0.8em;
}
#section4 input::placeholder,
#section4 textarea::placeholder {
  color: #83c5be;
}
#section4 #submit {
  background: #ffddd2;
  border: 1px solid #ffddd2;
  color: #7fa6af;
  text-transform: uppercase;
  cursor: pointer;
  background: linear-gradient(to right, white 50%, #ffddd2 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
}
#section4 #submit:hover {
  color: black;
  border: white;
  background-position: left bottom;
}
#section4 .form__input + .form__input {
  margin-top: 0.8em;
}

/*# sourceMappingURL=style.css.map */
