/* Colours */

$main-font-color: #edf6f9;
$main-pink: #ffddd2;
$page-background: #83c5be;

/*  Font */
$font-stack: 'Roboto', sans-serif;

/* Typography */

h1,
h3 {
	font-family: $font-stack;
	text-align: center;
}

.section--title {
	font-size: 3.5rem;
}

.logo__title {
	color: $main-font-color;
	font-size: 1.5rem;
	font-weight: 700;
	letter-spacing: 0.2em;
}

.hero__title {
	font-size: 3.5rem;
}

.typed-cursor {
	font-size: 3rem;
}

.hero__subtitle {
	font-size: 2rem;
	font-weight: 300;
}

.nav__link {
	color: $main-font-color;
}

/* Base Rules */

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: $page-background;
	color: $main-font-color;
	font-family: $font-stack;
	font-weight: 300;
	line-height: 1.7;
	scroll-behavior: smooth;
}

/* Layout */

.container {
	width: 90%;
	margin: 0 auto;
	max-width: 1200px;
	position: relative;
}

.row {
	display: flex;
}

img {
	max-width: 100%;
}

.container--title {
	max-width: 400px;
	margin: 0 auto;
}

.section--title {
	position: relative;
	margin-bottom: 1em;
}
/* Navigation */

header {
	padding-top: 2em;
}

.side_nav {
	display: flex;
	flex-direction: column;
	left: 0;
	bottom: 50%;
	position: fixed;
	justify-content: space-evenly;
	align-items: center;
	height: 180px;
	width: 30px;

	a {
		color: #fff;
		font-size: 1.2rem;
	}

	#side_nav1 {
		color: #ffddd2;
		background-color: #f3cec1;
		opacity: 0.7;
		border-radius: 50%;
		height: 18px;
		width: 18px;
		display: inline-block;
	}
}

.logo__title {
	text-decoration: none;
	cursor: pointer;
}

.burger {
	position: absolute;
	right: 0;
	color: white;
	cursor: pointer;

	div {
		width: 25px;
		height: 2px;
		background: #fff;
		margin: 5px;
	}
}

.nav {
	display: none;

	.nav__list {
		display: flex;
		text-align: center;
	}

	.nav__item {
		list-style: none;
	}

	.nav__item + .nav__item {
		padding-left: 2em;
	}

	.nav__link {
		position: relative;
		text-decoration: none;

		&:before {
			content: "";
			position: absolute;
			width: 0;
			height: 2px;
			bottom: -5px;
			left: 0;
			background-color: $main-pink;
			visibility: hidden;
			transition: all 0.3s ease-in-out;
		}

		&:hover::before {
			visibility: visible;
			width: 100%;
		}
	}
}

/* Section 1 - HERO */

#section1 {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;

	.hero__background {
		text-align: center;
	}

	.hero__title {
		padding: 0.2em 0 0;
		margin-top: 0.8em;
		letter-spacing: 2px;
	}

	.socials {
		justify-content: space-evenly;
		margin: auto;
		width: 80%;
		max-width: 350px;
		padding: 1em 0 0;

		i {
			color: $main-font-color;
			font-size: 3rem;

			&:hover {
				color: $main-pink;
				animation: rotation 1s infinite;
			}
		}

		@keyframes rotation {
			from {
				transform: rotate(0deg);
			}
			to {
				transform: rotate(359deg);
			}
		}
	}

	.scroll-down {
		position: absolute;
		bottom: 40px;

		a {
			color: $main-font-color;
			font-weight: 300;

			i {
				// text-shadow: 0px 3px 16px #061b36;
				animation: bounce ease 2s infinite;
			}
		}

		@keyframes bounce {
			0% {
				transform: translateY(0);
			}
			50% {
				transform: translateY(20px);
			}
			100% {
				transform: translateY(0);
			}
		}
	}
}

@media (min-width: 700px) {
	header {
		.row {
			display: flex;
			justify-content: space-between;
		}

		.burger {
			display: none;
		}
		.nav {
			display: inline-block;
			position: relative;
		}

		.nav__link {
			font-size: 1.3rem;
		}
	}

	#section1 {
		.hero__title {
			font-size: 6rem;
		}

		.typed-cursor {
			font-size: 5rem;
		}

		.hero__subtitle {
			font-size: 3.5rem;
		}
	}
}

/* Section 2 - About me */

#section2 {
	.section--title {
		&::before {
			content: '';
			position: absolute;
			height: 12px;
			width: 60%;
			background: $main-pink;
			top: 65%;
			left: 11%;
			z-index: -1;
		}
	}
	.container--about__me {
		text-align: center;
		margin: 5em auto;
	}
	.about__me--image {
		border-radius: 80%;
		filter: grayscale(80%);
		margin: 2em 0;
	}

	.about__me--text {
		margin: 2em;
		text-align: justify;

		p {
			font-size: 1.25rem;
			padding-bottom: 2em;
		}
	}
}

@media (min-width: 700px) {
	.container--about__me {
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	.about__me--image {
		width: 40%;
	}

	.about__me--text {
		display: flex;
		flex-direction: column;

		max-width: 500px;
	}
}

/* Section 3 - Projects */

#section3 {
	.projects--grid {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 0.5em;
	}
	.section--title::before {
		content: '';
		position: absolute;
		height: 12px;
		width: 60%;
		background: $main-pink;
		top: 65%;
		left: 11%;
		z-index: -1;
	}

	.projects--cards {
		border: 1px solid $main-font-color;
		border-radius: 10px;
		text-align: center;
		padding: 0.8em;
		display: flex;
		justify-content: space-between;
		flex-direction: column;

		// .gif {
		// 	border-radius: 10px;
		// 	margin-top: 1em;
		// 	text-align: center;
		// }
		.projects--info {
			padding: 0.5em 0;
			text-align: left;
		}

		.projects--links {
			display: flex;
			justify-content: center;
		}

		a {
			border: 1px solid $main-font-color;
			border-radius: 5px;
			text-decoration: none;
			padding: 0.5em;
			margin: 0.5em;
			color: $main-font-color;
			background: linear-gradient(to right, white 50%, #afd8d4 50%);
			background-size: 200% 100%;
			background-position: right bottom;
			transition: all .5s ease-out;

			&:hover {
				color: black;
				background-position: left bottom;
			}
		}
	}
}

.gif__container {
	border-radius: 10px;
	margin-top: 1em;
	text-align: center;
	height: 230px;
	// background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: transparent;
	width: 100%;
}

#restaurant {
	background-image: url(/images/restaurant2.gif);
}
#countdown {
	background-image: url(/images/countdown3.gif);
}
#movieapi {
	background-image: url(/images/movieapi3.gif);
}

@media (min-width: 700px) {
	#section3 .projects--grid {
		grid-template-columns: repeat(3, 1fr);
	}
}

/* Section 4 - Contact */

#section4 {
	.contact {
		text-align: center;
		padding-top: 2em;
		max-width: 500px;
	}

	.section--title::before {
		content: '';
		position: absolute;
		height: 12px;
		width: 60%;
		background: $main-pink;
		top: 65%;
		left: 11%;
		z-index: -1;
	}

	p {
		font-size: 1.2rem;
	}

	.contact__form {
		width: 90%;
		margin: 3em auto 6em;
	}

	input[type="text"],
	input[type="email"],
	input[type="submit"],
	textarea {
		border: 1px solid $main-font-color;
		border-radius: 5px;
		font-family: $font-stack;
		font-size: 1rem;
		width: 100%;
		outline: none;
		padding: 0.8em;
	}

	input::placeholder,
	textarea::placeholder {
		color: $page-background;
	}

	#submit {
		background: $main-pink;
		border: 1px solid $main-pink;
		color: #7fa6af;
		text-transform: uppercase;
		cursor: pointer;

		background: linear-gradient(to right, white 50%, $main-pink 50%);
		background-size: 200% 100%;
		background-position: right bottom;
		transition: all .5s ease-out;

		&:hover {
			color: black;
			border: white;
			background-position: left bottom;
		}
	}

	.form__input + .form__input {
		margin-top: 0.8em;
	}
}
