/* Colours */

$main-font-color: #edf6f9;
$main-pink: #ffddd2;
$page-background: #83c5be;

/*  Font */
$font-stack: 'Roboto', sans-serif;

/* Typography */

h1,
h3 {
	font-family: $font-stack;
	text-align: center;
}

.section--title {
	font-size: 3.5rem;
}

.logo__title {
	color: $main-font-color;
	font-size: 1.5rem;
	font-weight: 700;
	letter-spacing: 0.2em;
}

.hero__title {
	font-size: 3.5rem;
}

.typed-cursor {
	font-size: 3rem;
}

.hero__subtitle {
	font-size: 2rem;
	font-weight: 300;
}

.nav__link {
	color: $main-font-color;
}

/* Base Rules */

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: $page-background;
	color: $main-font-color;
	font-family: $font-stack;
	font-weight: 300;
	line-height: 1.7;
}

/* Layout */

.container {
	width: 80%;
	margin: 0 auto;
	max-width: 1200px;
	position: relative;
}

.row {
	display: flex;
}

img {
	max-width: 100%;
}

.container--title {
	max-width: 400px;
	margin: 0 auto;
}

.section--title {
	position: relative;
}
/* Navigation */

header {
	padding-top: 2em;
}

.logo__title {
	text-decoration: none;
	cursor: pointer;
}

.burger {
	position: absolute;
	right: 0;
	color: white;
	cursor: pointer;

	div {
		width: 25px;
		height: 2px;
		background: #fff;
		margin: 5px;
	}
}

.nav {
	display: none;

	.nav__list {
		display: flex;
		text-align: center;
	}

	.nav__item {
		list-style: none;
	}

	.nav__item + .nav__item {
		padding-left: 2em;
	}

	.nav__link {
		position: relative;
		text-decoration: none;

		&:before {
			content: "";
			position: absolute;
			width: 0;
			height: 2px;
			bottom: -5px;
			left: 0;
			background-color: $main-pink;
			visibility: hidden;
			transition: all 0.3s ease-in-out;
		}

		&:hover::before {
			visibility: visible;
			width: 100%;
		}
	}
}

/* Section 1 - HERO */

#section1 {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;

	.hero__background {
		text-align: center;
	}

	.hero__title {
		padding: 0.2em 0;
		margin-top: 0.8em;
		letter-spacing: 2px;
	}

	.hero__subtitle {
		margin-top: 0.5em;
	}

	.socials {
		justify-content: space-evenly;
		margin: auto;
		width: 80%;
		max-width: 350px;
		padding: 1em 0 0;

		i {
			color: $main-font-color;
			font-size: 3rem;

			&:hover {
				color: $main-pink;
				animation: rotation 1s infinite;
			}
		}

		@keyframes rotation {
			from {
				transform: rotate(0deg);
			}
			to {
				transform: rotate(359deg);
			}
		}
	}

	.scroll-down {
		position: absolute;
		bottom: 40px;

		a {
			color: $main-font-color;
			font-weight: 300;

			i {
				// text-shadow: 0px 3px 16px #061b36;
				animation: bounce ease 2s infinite;
			}
		}

		@keyframes bounce {
			0% {
				transform: translateY(0);
			}
			50% {
				transform: translateY(20px);
			}
			100% {
				transform: translateY(0);
			}
		}
	}
}

@media (min-width: 700px) {
	header {
		.row {
			display: flex;
			justify-content: space-between;
		}

		.burger {
			display: none;
		}
		.nav {
			display: inline-block;
			position: relative;
		}
	}
}

/* Section 2 - About me */

#section2 {
	.section--title {
		&::before {
			content: '';
			position: absolute;
			height: 12px;
			width: 60%;
			background: $main-pink;
			top: 65%;
			left: 11%;
			z-index: -1;
		}
	}
	.container--about__me {
		text-align: center;
		margin: 7em auto;
	}
	.about__me--image {
		border-radius: 80%;
		filter: grayscale(80%);
		margin: 2em 0;
	}

	.about__me--text {
		margin: 2em;
		text-align: justify;

		p {
			font-size: 1.25rem;
			padding-bottom: 2em;
		}
	}
}

@media (min-width: 700px) {
	.section--title {
		// margin: auto 2em;
	}
	.container--about__me {
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	.about__me--image {
		width: 40%;
	}

	.about__me--text {
		display: flex;
		flex-direction: column;

		max-width: 500px;
	}
}

/* Section 3 - Projects */

#section3 {
	.section--title::before {
		content: '';
		position: absolute;
		height: 12px;
		width: 60%;
		background: $main-pink;
		top: 65%;
		left: 11%;
		z-index: -1;
	}
}
